body {
    font-family: Tahoma;
    margin: 0px;
}

header {
    padding: 20px;
    background-color: #749ca7;
    color: #e0eaed;
    letter-spacing: -1px;
}


h1, h2 {
    margin: 0px;
}

header a{
    color: #e0eaed;
    text-decoration: none
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

    footer p {
        padding: 5px;
        font-size: 70%;
    }

section {
    max-width: 960px;
    padding: 20px;
}

    section a {
        color: #111
    }


    section ul {
        padding: 0px;
    }

.form-grupo {
    padding: 5px;
    font-size: 70%;
}

#area {
    position: relative;
    width: 320px;
    height: 270px;
}

#area #formulario {
        position: absolute;
        display: block;
 }

legend {
    font-style: bold;
    font-family: "Segoe UI";
}

.form-grupo label {
    position: absolute;
    left: 19px;
    margin-right: 5px;
}


.form-grupo input.nome {
    position: absolute;
    left: 95px;
    top: 23px;
    width: 225px;
}

.form-grupo input.comentario {
    position: absolute;
    left: 95px;
    margin-top: 2px;
    width: 225px;
}

.botao {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}